.about-wrapper {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}



/* 뒤로가기 버튼 */
.back-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background: #f0f0f0;
  transition: 0.2s;

}

.back-btn:hover {
  background: #2ecc71;
  color: white;
}





/* 상단 배너 */
.about-banner {
  background-color: #2ECC71;
  color: white;
  padding: 18px 0 18px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  position: relative;
}


/* 본문만 부분스크롤 */
.about-scroll-area {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/* 본문 스타일 */
.about-content h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.about-content p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 28px;
}

